Green = #42b983
Light-Green = #87d86b
White = #FFF
Dark-White = #F9FAFC
Red = #FF7352
Blue = #64c0ff
Orange = #F7BA2A
Light-Orange = #ffc741
Silver = #8492A6
Light-Silver = #99A9BF
Extra-Light-Silver = #C0CCDA
Grey = #D3DCE6
Light-Grey = #E5E9F2
Extra-Light-Grey = #EFF2F7
Black = #1F2D3D
Light-Black = #324057
Extra-Light-Black = #475669

fj(x=flex-start,y=stretch)
  display flex
  justify-content x
  align-items y

wh(w,h)
  width w
  height h

bc(bgC=Green,c=Write)
  color c
  background-color bgC

bdco(bdc=Green,c=Green)
  border-color bdc
  color c

font(s,c)
  font-size s
  color c


txtline(w=40%)
  position relative
  font-size .8em
  letter-spacing 1px
  text-align center
  color Green
  &::before
    position absolute
    top 50%
    left 0
    wh(w,1px)
    background-color Light-Green
    content ''
  &::after
    position absolute
    top 50%
    right 0
    wh(w,1px)
    background-color Light-Green
    content ''

mgreen(o=1)
  rgba(66,185,131,o)
